@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}

nav h1 {
    color: #717171;
    font-family: "Playfair Display", sans-serif;
    font-size: 2rem;
}
nav .onglets {
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a:hover {
    font-weight: bold;
}
nav .onglets a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 0.1px solid #000;
    padding-bottom: 5px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("Images/header\ recettes.png");
    background-size: cover;
    color: #fff;
    padding: 40px;
}
header h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 50px;
}

header h4 {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
header button {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    outline: none;
}
header button a {
    color: #000;
    text-decoration: none;
}
header button:hover {
    transform: scale(105%);
    transition: 150ms;
}

.main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000cc;
}

.main .content .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content .card .left {
    flex: 0 0 30%;
    padding: 20px;

    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-align: center;
}
.main .content .card .left p span {
    font-weight: bold;
}

.main .content .card .left a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.main .content .card .left a:hover {
    color: rgb(168, 168, 168);
}
.main .content .card .right {
    margin-top: 20px;
}
.main .content .card .right img {
    height: 300px;
    width: 450px;
    margin-top: 5px;
}
.category {
    text-align: center;
    color: #000;
    margin: 30px;
}
.category a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 2rem;
    font-family: "Playfair Display", sans-serif;
}
.category a:hover {
    background: rgb(211, 211, 211);
    border-radius: 15px;
}
footer {
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: #000;
    color: #fff;
    padding: 30px 100px;
}
footer h1 {
    font-family: "Playfair Display", sans-serif;
    border-bottom: 1px solid #fff;
    width: 20%;
    padding-bottom: 20px;
}
footer .services {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 30px;
}
footer .services .service p {
    max-width: 300px;
}
footer #contact {
    color: rgb(181, 181, 181);
}

@media screen and (max-width: 700px) {
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img {
        height: auto;
        width: 100%;
        margin-top: -22px;
    }
    .main .content .card {
        display: block;
    }
    footer {
        padding: 30px;
    }
    header h1 {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    nav .onglets {
        margin-left: 5px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 472px) {
    nav .onglets {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1325px) {
    .main .content .card .left {
        flex: 0 0 33%;
    }
}
@media screen and (max-width: 642px) {
    .category {
    }
}

/* ********RECETTES******* */
